<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/g322.png?v=1658003422948"
    />

    <!-- 
      This is an HTML comment
      You can write text in a comment and the content won't be visible in the page
    -->

    <title>Url Shortener</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="https://eagle-teal.glitch.me/" />
    <meta
      name="description"
      content="A simple tool for url shortener, create by eagle teal."
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Url Shortener" />
    <meta property="og:type" content="tool" />
    <meta property="og:url" content="https://eagle-teal.glitch.me/" />
    <meta
      property="og:description"
      content="A simple tool for url shortener, create by eagle teal."
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/Pa.png?v=1658000247165"
    />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <img src="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/g322.png?v=1658003422948"/>
      <h1>URL Shortener</h1>
      <form id="form">
        <input id="link" type="text" placeholder="Enter your link" />
        <input id="name" type="text" placeholder="Custom link" />
        <p>VD: https://1shorten.com/yourCustom</p>
        <input type="submit" value="shorten it!" />
      </form>
      <button onclick="copied()" id="buttoncopy">Copy short link</button>
      <ul id="parent" class="shortLinks"></ul>
    </div>
    <script src="/public/script/script.js"></script>
  </body>
</html>
